<div class="unselected">
  <div class="unselected__content">
    <div class="unselected__icon">
      <i class="accent-icon fas fa-comments"></i>
    </div>

    <div class="unselected__title">
      Please select contact
    </div>

    <div class="unselected__subtitle">
      Please select some contact from contact list or create new one!
    </div>

    <div class="g-button unselected__cta">
      <button pButton [routerLink]="['/', AppRoutes.contact, AppRoutes.detail]" label="Create">
      </button>
    </div>
  </div>
</div>
